* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  background: linear-gradient(to right, #003366, #0059b3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f9;
}

.card {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #0059b3;
  color: white;
  border: none;
  cursor: pointer;
}

.switch {
  margin-top: 10px;
  cursor: pointer;
  color: blue;

  * {
    margin: 0;
    padding: 0;
    font-family: Arial;
  }

  .container {
    display: flex;
    height: 100vh;
  }

  .left {
    flex: 1;
    background: #003366;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f9;
  }

  .card {
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 10px;
  }

  input,
  select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
  }

  button {
    width: 100%;
    padding: 10px;
    background: #0059b3;
    color: white;
    border: none;
  }

  .order {
    background: #eee;
    margin: 5px 0;
    padding: 8px;
  }
}

.dashboard {
  text-align: center;
}